body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
.logocasa{
    width: 28px;
    margin: 6px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(241, 247, 196);
}
.menu-inicio{
    display: flex;
}
li{
    margin-right: 25px;
}
header{
    background-image: url('/imagenes/127728-flores_amarillas_con_hojas_verdes_durante_el_dia-550x310.jpg');
    height: 60vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo{
    text-align: center;
    color: rgb(192, 199, 142);
}
h1{ font-size: 10vh; margin: auto;} 
h2{ font-size: 7vh; }
.titulo h3{ font-size: 20px; margin: 12px; text-align: center; color: rgb(192, 199, 142);}

h3{text-align: center; font-size: 25px; padding-top: 30px; color: rgb(75, 75, 75);}

.sobremi{
    display: flex;
    justify-content: space-around   ;
    align-items: center;
    width: 95%;
    margin: 35px;
    padding-bottom: 30px;
}
.sobremi img{ width: 30%;}
.parrafos{ 
    width: 50%; 
    line-height: 21px; } 

#proyectos{
    background-color:rgb(241, 247, 196);
    padding: 5px ;
}
.container-proyectos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px;
}
.proyecto{
    background-color: antiquewhite;
    width: 22%;
    min-height: 350px;
    border: 1px transparent grey;
    border-radius: 10px;
    align-items: center;
    box-shadow: 2px 2px 20px rgb(125, 123, 123);
    padding-bottom: 8px;
    
}
.proyecto img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.proyecto p{
    margin: 15px;
    font-size: 13px;
    color:rgb(55, 54, 54);
}
.boton{
    margin-left: 15px;
    border: transparent;
    background-color: rgba(178, 178, 178, 0.709);
    color: rgb(53, 52, 52);
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 12px;
}
.container-experiencia{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 80px;
}

.container-experiencia p{
    font-size: 28px;
    margin: 40px;
    padding: 20px;
    border: 5px solid ;
    border-radius: 100%;
}
/* .circulo1{
    height: 100px;
    width: 100px;
    position: relative;
 }
 .circulo1 .dentro, .circulo1 .fuera{
     position: absolute;
     height: 100%;
     width: 100%;
     border-radius: 100%;
     box-shadow: 2px 2px 2px 2px rgb(163, 19, 173);
 }
 .circulo1 .numero{
     position: absolute;
     top: 50%;
 } */

 .aficiones{
    display: grid;
    grid-template-columns: repeat(3, 250px) ;
    grid-template-rows: 50px 20px;
    justify-content: center;
    gap: 50px;
    margin-bottom: 70px;
    padding: 30px;
}
 .aficion{
    font-weight: 900;
    display: flex;
    border: transparent;
    border-radius: 3px;
    background-color: rgb(192, 199, 142);
    justify-content: space-around;
    align-self: center;
    padding: 15px;   
    font-size: 18px;
 }
footer{
    background-color: rgb(0, 0, 0);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#redes{
    margin-right: 35px;
    width: 4vh;
    height: 4vh;
    background-color: black;
}
